
@import url('https://tetunori.github.io/fluent-emoji-webfont/dist/FluentEmojiColor.css');
@import url('https://tetunori.github.io/fluent-emoji-webfont/dist/FluentEmojiFlat.css');
@import url('https://tetunori.github.io/fluent-emoji-webfont/dist/FluentEmojiHighContrast.css');

/* For Debug */
/* 
@import url('/dist/FluentEmojiColor.css');
@import url('/dist/FluentEmojiFlat.css');
@import url('/dist/FluentEmojiHighContrast.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
*/

html, body {
  -webkit-text-size-adjust: 150%;
  text-align: center;
  font-family: 'Fluent Emoji Color';
  margin-top: 20;
}

.radios {
  font-size: x-large;
  position: fixed;
  margin: auto; 
  top: 120; 
  right: 0;
  left: 0;
  background-color: #ffffffCC;
}

.emojis {
  margin-top: 80;
  font-size: xxx-large;
}
