
@import url('/dist/FluentEmojiColor.css');
@import url('/dist/FluentEmojiFlat.css');
@import url('/dist/FluentEmojiHighContrast.css');

html, body {
  -webkit-text-size-adjust: 150%;
  text-align: center;
  font-family: 'Fluent Emoji Color';
  font-size: xxx-large;
}

label {
  font-size: x-large;
}
